# Archivos de configuración sensibles
config.json

#scripts de desarrollo
dev/

#releases
releases/

# Basura de Python
__pycache__/
*.pyc

# Basura de compilación de PyInstaller
build/
dist/
*.spec

# Ejecutables de Windows
*.exe